body{
    background-color: rgb(55, 55, 55);
    min-width: 400px;
    min-height: 150px;
}

#titleDiv{
    display: flex;
    justify-content: space-between;
    font-size: 8px;
    height: fit-content;
}

#newTask, #saveTask{
    width: 73px;
    height: 33px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 7%;
    border: none;
    background-color: rgb(22, 22, 22);
    color: #AAAAAA;
}

#saveTask {
    display: none;
}

hr{
    border: 1px solid black;
}

#input{
    width: 150px;
    height: 27px;
    font-size: 14px;
    background-color: rgb(66, 66, 66);
    border: 1px solid rgb(22, 22, 22);
    border-radius: 2px;
}

#input:focus {
    background-color: #999999;
}

.fade {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in;
}

.slide {
    transform: translateY(-58px);
    transition: transform 1s ;
}

h1{
    margin: 0px;
}

#taskList {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.taskElement{
    display: flex;
    padding: 1%;
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 140%;
    justify-content: space-between;
    text-align: center;
}

.removeButton{
    border: none;
    border-radius: 20%;
    background-color: rgb(33, 33, 33);
    width: 21px;
    aspect-ratio: 1 / 1;
}

.timeElements {
    font-size: 80%;
    margin-right: 3px;
}

select{
    margin: 5px 23px;
    align-self: center;
    width: fit-content;
}

.timeRow {
    display: flex;
    justify-content: center;
}